# CODEOWNERS
# These owners are automatically requested for review on PRs.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @evj90
